@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<p class="text-danger text-center">BURASI ADMİN AREA HOME CONTROLLER - PRIVACY</p>